:host {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-card {
  padding: 2rem 2rem;
  margin: 0 auto;
  width: 100%;
  max-width: 25rem;
  width: 100%;
  align-items: center;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

mat-card-title {
  text-align: center;
  font-size: 2rem;
  color: #333;
}

mat-card-content {
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
